{%extends "base.html" %}

{% block title_head %}
<title>Animes</title>
{% endblock title_head %}

{% block h1_header %}
¡Se creó el anime!
{% endblock h1_header %}

{% block main %}
<p>
    <a href={% url "crear_anime" %}>Crear Anime</a>
</p>

<form action={% url "animes" %}>
    <input type="text" name="nombre_anime">
    <input type="submit" name="Buscar">
</form>

{% if listado_de_animes %}
<ul>
    {% for anime in listado_de_animes%}
    <li><a href={% url "detalle_anime" anime.id %}>{{anime}}</a> | <a href={% url "actualizar_anime" anime.id %}>Actualizar</a> | <a href={% url "eliminar_anime" anime.id %}>Eliminar</a> |</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron animes</p>
{% endif %}

{% endblock main %}