{%extends "base.html" %}

{% block h1_header %}
Acerca del creador.
{% endblock h1_header %}

{% block main %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali<b>qu</b>a. 
    <br>Ut en<b>i</b>m ad minim v<b>e</b>niam, quis nost<b>r</b>ud exercitati<b>o</b>n ullamco laboris nisi ut aliquip ex ea commodo con<b>se</b>quat. 
    <br>Duis aute i<b>r</b>ure dolor in re<b>pr</b>ehenderit in v<b>o</b>luptate velit esse cillum dolore eu fu<b>g</b>iat nulla pa<b>r</b>i<b>a</b>tur. 
    <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <b>m</b>ollit <b>a</b>nim i<b>d</b> est lab<b>or</b>um.
</p>

{% endblock main %}