{%extends "base.html" %}

{% block title_head %}
<title>Libros</title>
{% endblock title_head %}

{% block h1_header %}
Libros
{% endblock h1_header %}

{% block main %}

<p>
    <a href={% url "crear_libro" %}>Crear Libro</a>
</p>

<form action="">
    <input type="text" name="nombre_libro">
    <input type="submit" name="Buscar">
</form>

{% if listado_de_libros %}
<ul>
    {% for libro in listado_de_libros%}
    <li>{{libro}} | <a href={% url "actualizar_libro" libro.id %}>Actualizar</a> | <a href={% url "eliminar_libro" libro.id %}>Eliminar</a> | <a href={% url "detalle_libro" libro.id %}>Detalle</a> |</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron libros</p>
{% endif %}

{% endblock main %}